/* styling for the body of the clock */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("clock.jpg");
    overflow: hidden;
}

/* styling for the heading */
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
    color: white;
}

/* styling for the class of clock */
.clock {
    display: flex;
}
.clock div {
    margin: 5px ;
    position: relative;
}
/* styling for the clock span */
.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
}
.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
    background-size: cover;
}

/* styling the AM (ampm) */
.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}

